body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  justify-items: center;
}

.header img {
  margin: 60px 0px;
}

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a {
  display: block;
  color: #000000;
  padding: 1rem 2rem;
  border-radius: 5px;
  background: white;
  font-weight: bold;
  border: 2px solid #fff;
}

.menu a:hover {
  border: 2px solid #e21;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;  
}

.introduction {
  display: grid;
  align-content: center;
  justify-items: end;
  text-align: right;
  padding: 2.5rem;
  gap: 20px;
  background: #fff;
  position: relative;
}

.introduction h1 {
  font-size: 2rem;
}

.introduction-cover img{
  object-fit: cover;
  height: 100%;
}

h1::before {
  content: "";
  display: block;
  width: 3.75rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 2rem;
  right: -2rem;
}

button {
  background: #e21;
  color: #fff;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #900;
}

.intro-bikcraft {
  max-width: 100%;
}

.title-advantages {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
  padding: 2.5rem;
  background-image: url(img/onda.svg);
}

.list-content-advantages {                                                               
  background: #fff;
  padding: 2.5rem ;
  max-width: 100%;
}

.item-advantages:nth-child(odd) {
  background-color: #f7f7f7;
}

.item-advantages {
  padding: 1.25rem;
  gap: 10px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  border-left: 3px solid #fff;
}

.item-advantages p {
  grid-column: 2;
}

.item-advantages:hover {
  border-left: 3px solid #e21;
}

footer {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .content-advantages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .title-advantages {
    text-align: center;
  }
}

@media (max-width: 635px) {
  body {
    gap: 10px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header img {
    margin: 40px 0;
  }

    .menu {
      gap: 20px;
    }

    .menu li a {
      padding: 0.5rem 1rem;
    }

  h1::before {
    display: none;
  }

  .introduction {
    justify-items: start;
    text-align: left;
  }

  .title-advantages {
    font-size: 2rem;
  }


}