body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
}

#logo { 
  margin-top: 80px;   
}

.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.nav a {
  color: #000000;
  padding: 20px;
  background: white;
  font-weight: bold;
}

span {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;  
}

.introduction {
  display: grid;
  align-content: center;
  justify-items: end;
  text-align: right;
  padding: 40px;
  gap: 20px;
  background: #fff;
  position: relative;
}

button {
  background: #e21;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  border-radius: 4px;
}

.intro-bikcraft {
  max-width: 100%;
}

.title-advantages {
  font-size: 64px;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
  padding: 40px;
}

.content-advantages {                                                               
  background: #fff;
  padding: 40px;
  max-width: 100%;
}

.item-advantages {
  padding: 20px;
  gap: 10px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.item-advantages p {
  grid-column: 2;
}

footer {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}