body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 60px;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.3;
}

#logo { 
  margin-top: 5rem;   
}

nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  color: #000000;
  padding: 1.25rem;
  background: white;
  font-weight: bold;
}

span {
  width: 3.75rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;  
}

.introduction {
  display: grid;
  align-content: center;
  justify-items: end;
  text-align: right;
  padding: 2.5rem;
  gap: 20px;
  background: #fff;
  position: relative;
}

button {
  background: #e21;
  color: #fff;
  padding: 0.93rem 1.87rem;
  border: 0;
  border-radius: 0.25rem;
}

.intro-bikcraft {
  max-width: 100%;
}

.title-advantages {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
  padding: 2.5rem;
}

.content-advantages {                                                               
  background: #fff;
  padding: 2.5rem ;
  max-width: 100%;
}

.item-advantages {
  padding: 1.25rem;
  gap: 10px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.item-advantages p {
  grid-column: 2;
}

footer {
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}