:root {
  --cor-primaria: #e21;
  --cor-primaria-escura: #900;
  --fundo-1: #f7f7f7;
  --fundo-2: #ffffff;
  --texto: #000000;
  --cor-subtitulo: rgba(0, 0, 0, 0.2);
  --onda: url(img/onda-clara.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto: #ffffff;
    --cor-subtitulo: rgba(255, 255, 255, 0.2);
    --onda: url(img/onda-escura.svg);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: var(--fundo-1);
  display: grid;
  justify-items: center;
  gap: 60px;
  padding-top: 60px;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.3;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  justify-items: center;
}

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.menu a {
  display: block;
  color: var(--texto);
  padding: 1rem 2rem;
  border-radius: 5px;
  background: var(--fundo-2);
  font-weight: bold;
  border: 2px solid var(--fundo-2);
}

.menu a:hover {
  border: 2px solid var(--cor-primaria);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 62.5rem;  
  color: var(--texto);
}

.introduction {
  display: grid;
  align-content: center;
  justify-items: end;
  text-align: right;
  padding: 2.5rem;
  gap: 20px;
  background: var(--fundo-2);
  position: relative;
}

.introduction h1 {
  font-size: 2rem;
}

.introduction-cover img{
  object-fit: cover;
  height: 100%;
}

h1::before {
  content: "";
  display: block;
  width: 3.75rem;
  height: 0.25rem;
  background: var(--cor-primaria);
  position: absolute;
  top: 2rem;
  right: -2rem;
}

button {
  background: var(--cor-primaria);
  color: #ffffff;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-primaria-escura);
}

.intro-bikcraft {
  max-width: 100%;
}

.title-advantages {
  font-size: 4rem;
  color: var(--cor-subtitulo);
  text-align: right;
  align-self: center;
  padding: 2.5rem;
  background-image: var(--onda);
}

.list-content-advantages {                                                               
  background: var(--fundo-2);
  padding: 2.5rem ;
  max-width: 100%;
}

.item-advantages:nth-child(odd) {
  background-color: var(--fundo1);
}

.item-advantages {
  padding: 1.25rem;
  gap: 10px 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  border-left: 3px solid var(--fundo-2);
}

.item-advantages p {
  grid-column: 2;
}

.item-advantages:hover {
  border-left: 3px solid var(--cor-primaria);
}

footer {
  width: 100%;
  background: var(--fundo-2);
  color: var(--texto);
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .content-advantages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .title-advantages {
    text-align: center;
  }
}

@media (max-width: 635px) {
  body {
    gap: 10px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header img {
    margin: 40px 0;
  }

    .menu {
      gap: 20px;
    }

    .menu li a {
      padding: 0.5rem 1rem;
    }

  h1::before {
    display: none;
  }

  .introduction {
    justify-items: start;
    text-align: left;
  }

  .title-advantages {
    font-size: 2rem;
  }


}